.clear {
    clear:both;
}
#gaming-floor{
    width: 1024px;
    position: relative;
}
#gaming-floor input, #gaming-floor select, #gaming button {
    font-size: 150%;
    
}
#gaming-floor .row {
    
}

#gaming-floor .position {
    margin: 1em 7em;
    float: left;
}
#options {
    width: 300px;
    top: 1em;
    right: 1em;
    position: absolute;
}
#options div {
    float: left;
    margin: .5em;
}
#options div div {
    
}
#table-inner {
   
}

#table {
    background: url() no-repeat;
}

.option-labels
{
    width: 100px;
    font-size: 1.2em;
    text-align: right;
}